<IfModule mod_rewrite.c>
    Options -Indexes
    RewriteEngine On

    # 1. Enrutamiento hacia index.php (Soluciona el error 404 en rutas como /usuarios/login)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>